.cart-title {
    text-align: center;
    margin-bottom: 20px;
}

#cartContainer {
    margin-bottom: 20px;
}

.cart-item {
    display: grid;
    grid-template-columns: 100px 1fr 80px 80px 80px 80px;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.cart-item img {
    width: 90px;
    border-radius: 6px;
}

.remove-item-btn {
    background: #ccc;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 6px;
}

.cart-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.cart-shipping, .cart-summary {
    background: #f5f5f5;
    padding: 20px;
    width: 45%;
    border-radius: 8px;
}

.checkout-btn {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background: #467cf4;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
}

.cart-summary .total {
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.1rem;
}

/* Toast */
.toast {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: #333;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.toast.show {
    opacity: 1;
}
